.container{
    display: flex;
    display: wrap;
    align-items: center;
    justify-content: center;
    color: darkgreen;
}
.pagination{
    font-size: 1em;
    padding: 5em;
    position:fixed;
}
.bg-rsf{
    background-color: rgb(172, 230, 201);
}
.bg-texture{
    background-image: url('../images/tableau.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2em;
    padding-bottom: 2.5em;
}
#logo{
    height: 50px;
}
#initials{
    background: orange;
    height: 38px;
    width: 38px;
    display: inline-block;
    font-size: 1em; 
    text-align: center;
    color: white;
    border-radius: 100%;
}
#wrapper{
    min-height: 500px;
}
table{
    margin-bottom: 1em;
}
thead{
    font-size: 1.5em;
    color: darkgreen;
    background-color: rgb(172, 230, 201);
}
tbody{
    font-size: 1.1em;
}
@media only screen and (min-width: 1550px) {
    #wrapper {
        min-height: 740px;
    }
}
#dd-menu-rsf{
    background-color: rgb(247, 228, 125);
    border-color: darkorange;
    font-size: 1em;
    margin-top: 1em;
}
#form-select-rsf{
    border: 2px solid orange;
    border-radius: 4px;
    margin-bottom: 1em;
}
#form-check-rsf{
    color: rgb(128, 189, 158);
    text-decoration: green;
}
.titre-principal{
    font-size: xx-large;
    text-align: center;
    color: orange;
    margin-top: .5em;
    font-weight: bold;
    padding-bottom: 1em;
}
form{
    font-size: large;
    font-weight: bold;
    background-color:rgb(247, 228, 125);
    border-color: orangered;
    border-radius: .5em;
    padding: 1.5em;
    margin-bottom: 1em;
    color: rgb(59, 99, 87);
}
input{
    border: 2px solid orange;
    border-radius: 4px;
}
input[type=text] {
    border: 2px solid orange;
    border-radius: 4px;
} 
input[type=email] {
    border: 2px solid orange;
    border-radius: 4px;
} 
input[type=password] {
    border: 2px solid orange;
    border-radius: 4px;
}
input[type=date] {
    border: 2px solid orange;
    border-radius: 4px;
}
input[type=radio] {
    border: 2px solid orange;
    border-radius: 4px;
    margin-right: .3em;
}
button[type=submit] {
    background-color: mediumseagreen;
    border: 2px solid orange;
    border-radius: 4px;
    width: 100%;
    font-size: 1em;
    margin-top: 1em;
    font-weight: bold;
    color: white;
}
.btn-rsf{
    font-size: 1.2em;
    font-weight: bold;
    color: darkgreen;
    text-decoration: none;
    cursor: pointer;
}
.footer{
    background-color: mediumseagreen;

}
.card{
    color:darkgreen;
    font-size: medium;
    font-weight: 500;
    width: 16em;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background: white;
    margin-bottom: 2em; 
}
.card-img-top{
    height: 180px;
    width: 45px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}
.card-header{
    color:darkgreen;
    text-align: center;
}
.card-title{
    color:darkgreen;
    text-align: center;
}
.card-body{
    color:darkgreen;
    text-align: left;
}
.card-footer{
    text-align: center;
}
.topnav {
    overflow: hidden;
    background-color: rgb(172, 230, 201);
    margin-bottom: .7em;
    color:darkgreen;
}
.topnav a {
    float: left;
    color:darkgreen;
    padding: .4em;
    padding-top: .6em;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
}
.topnav a:hover {
    background-color: rgb(172, 230, 201);
    color: white;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
.topnav-right {
    float: right;
}
.topnav-none {
    float: none;
}
.topnav-left {
    float: left;
}
.flip-card {
    background-color: transparent;
    width: 400px;
    height: 200px;
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background-image: url('../images/tableau.jpg');
}
.flip-card-back {
    font-family: cursive;
    padding-top: 2em;
    background-image: url('../images/tableau.jpg');
    color: rgb(247, 228, 125);
    transform: rotateY(180deg);
}
ul {
    list-style-type : none;
    font-size: 1.3em;
    color: rgb(247, 228, 125);
}

#about-us{
    font-family: cursive;
}
