body{
    background-image: url("../images/bois2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    height: 50px;
}

#wrapper{
    min-height: 500px;
}

.titre-principal{
    text-align: center;
    color:orange;
    margin-bottom: 5em;
}
@media only screen and (min-width: 1550px) {
    #wrapper {
        min-height: 750px;
    }
}

